<div class="course_date" id="course_date-<%= course_date.to_param %>">
  <h4><%= link_to course_date.to_s, course_date %></h4>
  
  <div class="course_date-description">
    <%= course_date.description %>
  </div>  
</div>
